<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>dp_dawn_walk_s_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{24,32},{17,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{17,26}}</string>
			<key>sourceSize</key>
			<string>{17,26}</string>
		</dict>
		<key>dp_dawn_walk_s_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{58,32},{17,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{17,26}}</string>
			<key>sourceSize</key>
			<string>{17,26}</string>
		</dict>
		<key>dp_dawn_walk_s_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{93,32},{17,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,20}}</string>
			<key>sourceSize</key>
			<string>{17,26}</string>
		</dict>
		
		
		<key>dp_dawn_walk_d_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{127,32},{19,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{19,26}}</string>
			<key>sourceSize</key>
			<string>{19,26}</string>
		</dict>
		<key>dp_dawn_walk_d_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{163,30},{19,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{19,26}}</string>
			<key>sourceSize</key>
			<string>{19,26}</string>
		</dict>
		<key>dp_dawn_walk_d_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{196,30},{19,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{19,26}}</string>
			<key>sourceSize</key>
			<string>{19,26}</string>
		</dict>
		
		
		<key>dp_dawn_walk_w_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{233,32},{19,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{19,26}}</string>
			<key>sourceSize</key>
			<string>{19,26}</string>
		</dict>
		<key>dp_dawn_walk_w_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{267,32},{19,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{19,26}}</string>
			<key>sourceSize</key>
			<string>{19,26}</string>
		</dict>
		<key>dp_dawn_walk_w_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{303,30},{19,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{19,26}}</string>
			<key>sourceSize</key>
			<string>{19,26}</string>
		</dict>
		
		
		<key>dp_dawn_walk_a_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{341,30},{19,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{19,26}}</string>
			<key>sourceSize</key>
			<string>{19,26}</string>
		</dict>
		<key>dp_dawn_walk_a_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{375,30},{19,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{19,26}}</string>
			<key>sourceSize</key>
			<string>{19,26}</string>
		</dict>
		<key>dp_dawn_walk_a_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{410,30},{19,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{19,26}}</string>
			<key>sourceSize</key>
			<string>{19,26}</string>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>dp_dawn.png</string>
		<key>size</key>
		<string>{736,530}</string>
		<key>textureFileName</key>
		<string>dp_dawn.png</string>
	</dict>
</dict>
</plist>
